---
layout: page
title: categories
showTitle: on
---
<div class="tags-items">
  <div class="tags-items-section">
    {% for categorie in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ categorie[0] | upcase }}</h2>
    <ul class="tags-items-posts">
      {% for post in categorie[1] limit:8 %}
      <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}<small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
