.sass-cache
.jekyll-metadata
.env
.buildpath
.project
.settings
.vscode
.deploy_git
_site
**/_drafts/*

data
yarn-error.log
/node_modules
node_modules
/**/node_modules/*
package-lock.json
db.json

_skins_tmp
nbproject/
public/

GPATH
GRTAGS
GTAGS
