<footer role="contentinfo">
    <div class="site-footer">
        <div class="footer-author-info">
            {% if site.github_avatar %}
            <a href="{{site.url}}">
                <div class="footer-avatar">
                    <img src="{{ site.github_avatar }}" title="{{ site.github_username }}">
                </div>
            </a>
            {% endif %}
            <div class="footer-info">
                {% if site.description %}
                <div class="footer-info-description">{{ site.description }}</div>
                {% endif %}
                {% if site.github_username %}
                <div class="footer-info-contact">
                    {% include icon-github.html username=site.github_username %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="hide">
            <div class="fonter-viewer-flags">
                <a href="http://s11.flagcounter.com/more/GBM"><img src="//s11.flagcounter.com/count2/GBM/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
            </div>
            {% include google-analytics.html %}
            {% include baidu-analytics.html %}
        </div>
    </div>
</footer>
