<!-- Paginator -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul class="pages-list">
    {% comment %} 上一页 {% endcomment %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="{{ site.url }}" class="btn">Prev</a></li>
      {% else %}
        <li><a href="{{ site.url }}/pages/No.{{ paginator.previous_page }}" class="btn">Prev</a></li>
      {% endif %}
    {% endif %}

    {% comment %} 第一页 {% endcomment %}
    {% if paginator.page == 1 %}
      <li><strong class="current-page">1</strong></li>
    {% else %}
      <li><a href="{{ site.url }}">1</a></li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if paginator.page > 4 %}
      {% assign page_start = paginator.page | minus: 2 %}
      {% comment %} Ellipsis for truncated links {% endcomment %}
      <li>…</li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
    {% if pages_to_end > 4 %}
      {% assign page_end = paginator.page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
      {% if index == paginator.page %}
        <li><strong class="current-page">{{index}}</strong></li>
      {% else %}
        {% comment %} Distance from current page and this link {% endcomment %}
        {% assign dist = paginator.page | minus: index %}
        {% if dist < 0 %}
          {% comment %} Distance must be a positive value {% endcomment %}
          {% assign dist = 0 | minus: dist %}
        {% endif %}
        <li><a href="{{ site.url }}/pages/No.{{ index }}">{{index}}</a></li>
      {% endif %}
    {% endfor %}

    {% comment %} 如果超过三页,则中间使用"..." {% endcomment %}
    {% if pages_to_end > 3 %}
      <li>…</li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <li><strong class="current-page">{{ paginator.page }}</strong></li>
    {% else %}
      <li><a href="{{ site.url }}/pages/No.{{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
    {% endif %}

    {% comment %} 下一页 {% endcomment %}
    {% if paginator.next_page %}
      <li><a href="{{ site.url }}/pages/No.{{ paginator.next_page }}" class="btn">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
