// 内容
section{
    a{
        text-decoration: none;
    }
    .post-bg{
        width: 100%;
        height: 25px;
        overflow: hidden;
        user-select: none;
        .post-image{
            position: absolute;
            z-index: -999;
            height: 108px;
            overflow: hidden;
            filter: blur(5px);  // 图片模糊
            opacity: 0.9;  // 图片透明度
            img{
                width: 100%;
                max-width: 900px;
            }
        }
    }
    .post-header{
        border-bottom: 1px solid #d8d8d8;
        margin: 0;
        padding: 0;
    }
    .time-special{
        background: cadetblue;
        color: #d5e7f3;
        border-radius: 2px;
    }
    time{
        float: left;
        width: 90px;
        display: block;
        color: #959595;
        user-select: none;
        margin: 0 15px 1px 0;
        cursor: default;
        span{
            float: right;
        }
        .time-day{
            font-size: 2.5em;
            color: #7fffd4;
            padding: 0 3px;
        }
    }
    .post-title{
        font-size: 26px;
        padding-top: 12px;
        color: #1d9d74;
        &:hover{
            color: #551a8b;
        }
    }
}
// 底部翻页
.pagination{
    width: 100%;
    display: block;
    text-align: center;
    margin: 25px 0;
    padding-bottom: 20px;
    ul{
        user-select: none;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        clear: both;
        display: inline-block;
        padding: 6px 10px;
        border: 1px solid #1d9d74;
        border-radius: 8px;
        li{
            float: left;
            margin: 0 5px;
            background: #5f9ea0;
            color: #fff;
            padding: 2px 7px;
            font-size: 22px;
            cursor: pointer;
            a{
                color: #fff;
                &:hover{
                    color: #f00;
                    font-weight: 600;
                }
            }
            .current-page{
                color: #8ffef1;
                cursor: not-allowed;
            }
        }
    }
}
