// page 页面样式


// 标签样式
$list-a-bg-color: #099;
$list-a-text-color: #fff;
$section-a-text-color: #009999;

.tags-items-list{
    user-select:none;
    margin-bottom: 10px;
    a{
        background-color: $list-a-bg-color;
        padding: 2px 4px;
        color: $list-a-text-color;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        display: inline-block;
        margin: 2px 1px;
        &:befor{
            content: "\f02b";
            font-family: FontAwesome;
            padding-right: .5em;
        }
        &:hover{
            color: $list-a-bg-color;
            background-color: $list-a-text-color;
        }
        i{
            margin-right: 2px;
        }
    }
}
.tags-items-section{
    user-select:none;
    h2{
        cursor: default;
        font-weight: 700;
        &::before, &::after {
            content: "";
        }
    }
    ul.tags-items-posts{
        list-style: none;
        li{
            margin: 3px 0px;
            padding: 3px 0;
            border: none;
        }
        a{
            font-size: 20px;
            text-decoration: none;
            color: $section-a-text-color;
            padding: 6px 3px;
            &:hover{
                border-radius: 5px;
                color: #fff !important;
                background-color: $section-a-text-color;
                small{
                    background-color: $section-a-text-color;
                    color: #e0fff3;
                }
            }
            small{
                margin-left: 15px;
                font-size: 14px;
                color: #ff8787;
                background-color: #ffe8ce;
                padding: 1px 3px;
                border-radius: 5px;
            }
        }
    }
}
