// POST 页面样式
@charset "utf-8";

$header-title-color: #2b8cbe;

// 代码样式
%code{
    color: #ef53d4;
    background: #fff0f0;
    border: 1px solid #fdd;
    padding: 1px 4px;
    border-radius: 6px;
    font-weight: 500;
    margin: 2px;
    user-select: all;  // 全选
}
article{
    background: #fffdfd;
    padding: 10px;
    box-shadow: 0px 0px 11px 0px #ccc;
    &:hover{
        box-shadow: 0px 0px 11px 0px #888888;
    }
    a{
        text-decoration: none;
    }
    .post-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        z-index: -99;
        filter: blur(8px);
        opacity: 0.5;
        img{
            width: 100%;
        }
    }
    // 头部 (标题)
    .post-header{
        user-select: none;
        cursor: default;
        display: block;
        margin: 50px 0 40px 0;
        border-left: 10px solid #a8ddb5;
        // 标题名
        .post-title{
            border-bottom: 1px solid #5f9ea0;
            padding: 0 0 8px 3px;
            margin: 0;
            color: $header-title-color;
            a{
                color: $header-title-color;
                font-size: 1.5em;
                &:hover{
                    color: #7bccc4;
                }
            }
        }
        // 时间
        .post-meta{
            float: right;
            display: block;
            margin: 2px 6px 2px 0;
            color: $header-title-color;
            .post-author{
                background: #5f9ea0;
                color: #fff;
                padding: 0 5px;
                border-radius: 4px;
            }
        }
        // 标签 (无序列表)
        ul{
            list-style: none;
            margin: 5px 1px;
            padding-left: 0;
            li{
                background-color: $header-title-color;
                float: left;
                padding: 1px 5px 2px 5px;
                border-radius: 8px;
                font-size: 12px;
                margin-right: 5px;
                a{
                    color: #fffdf3;
                }
                &:hover{
                    background-color: #fffdf3;
                    a{
                        color: $header-title-color;
                    }
                }
            }
        }
    }
}
// 日志内容
.post-content{
    padding: 0 15px;
    h1{
        font-size: 26px;
        font-weight: 700;
        color: #171717;
        margin: 1px 0px;
        padding: 8px 0 4px 0;
        text-decoration: underline double;
        text-decoration-skip: ink;
        text-decoration-color: #969696;
        &:hover{
            text-decoration: underline;
            color: #050505;
            background: #e9f2f9;
        }
    }
    h2{
        font-size: 24px;
        font-weight: 500;
        color: #242424;
        margin: 1px 0px;
        padding: 6px 0 4px 0;
        text-decoration: underline dashed;
        text-decoration-skip: ink;
        text-decoration-color: #969696;
        &:hover{
            text-decoration: underline;
            color: #171717;
        }
    }
    h3{
        font-size: 22px;
        font-weight: 400;
        color: #545454;
        margin: 1px 0px;
        padding: 4px 0 3px 0;
        &:hover{
            text-decoration: underline;
            color: #3B3B3B;
        }
    }
    h4{
        font-size: 18px;
        font-weight: 400;
        color: #666666;
        margin: 0px;
        padding: 3px 0;
    }
    h5{
        font-size: 18px;
        font-weight: 400;
        color: #7A7A7A;
        margin: 0px;
        padding: 2px 0;
    }
    h6{
        font-size: 16px;
        font-weight: 400;
        color: #7A7A7A;
        margin: 0px;
        padding: 0px;
    }
    // jekyll 代码块
    & > figure{
        margin: 0 0 0 1em;
    }
    & > div.highlighter-rouge{
        margin: 0 0 0 1em;
    }
    // 引用区块
    blockquote{
        font-family: 'Microsoft YaHei','Verdana', 'SimSun';
        background-color: #f5f9fd;
        padding: 10px;
        font-size: 16px;
        color: #868686;
        margin: 5px 0;
        display: block;
        &:before{
            content: "\f10d";
            color: #e2e2e2;
            font-size: 32px;
            font-family: FontAwesome;
            float: left;
            position: relative;
            padding: 0 10px 0 0;
        }
        p{
            margin: 1px 0px;
            font-size: 16px;
            user-select: text;
            font-style: normal;
            letter-spacing: normal;
            color: #333;
        }
        // 标题
        h2{
            font-size: 20px;
            padding: 0px;
            margin: 2px 0px;
            font-style: normal;
            letter-spacing: normal;
            color: #290229;
        }
        // 滑过变色
        &:hover{
            // box-shadow: 1px 1px 0px 1px #a5d6bb;
            background: #eafff3;
            blockquote{
                background-color: #f7fcf0; // #eeeeff;
            }
        }
        // 二级引用
        blockquote{
            margin: 5px 0px;
            font-size: 16px;
            background-color: #eafff3;
            border-left: 8px solid #83e49c;
            // 文字内容
            p{
                color: #868686;
                font-weight: 600;
            }
            &:before{
                content: "";
            }
        }
        // 列表
        ol,ul{
            margin: 5px 0px 5px 25px;
            li{
                color: #4e4e4e;
                border: none;
                a{
                    cursor: pointer;
                    font-size: 14px;
                    font-style: normal;
                }
            }
        }
        // 代码块
        pre{
            // font-style: normal;
            font-size: 14px;
        }
    }
    // 代码块样式 (+滑过变色)
    pre{
        // 处理 有行号的代码块
        table{
            td.gutter{
                padding: 0 9px 0 0;
            }
        }
    }
    // 文字内容
    & > p{
        text-indent: 2em;  // 首行缩进
        overflow: hidden;
        text-overflow: ellipsis;  // 溢出显示省略号
        & > mark{
            display: block;
            font-size: 1.3em;
            color: #fffdf3;
            background-color: #7bccc4;
            text-align: center;
            font-weight: 600;
            cursor: help;
            margin: 6px 0;
            padding: 3px 0;
            &::before, &::after {
                content: " ※ ";
                font-family: Arial;
            }
        }
    }
    p{
        margin: 3px 0px 4px 0;
        font-size: 16px;
        user-select: none;
        cursor: default;
        color: #1d1d1d;
        word-wrap: break-word;  // 文本换行
        white-space: inherit;
        word-spacing: normal;  // 文字间隔
        letter-spacing: normal; // 文字间隔
        a{
            cursor: pointer;
            &:hover{
                color: #00bdbd;
            }
        }
        // 图片
        img{
            border: 1px solid #81e2ff;
            border-radius: 8px;
            margin: 4px 0px;
            // width: 100%;
            max-width: 96%;
            &:hover{
                box-shadow: 0px 0px 8px 0px #65b8fb;
            }
        }
        code.highlighter-rouge{
            @extend %code;
        }
        span.post-author{
            user-select: none;
            color: #8a2be2;
            background: #5f9ea0;
            color: #fff;
            padding: 1px 6px;
            border-radius: 4px;
        }
    }
    // 重编辑
    .posts-modified{
        float: right;
        margin: 8px 0;
        color: #959595;
        user-select: none;
        cursor: default;
        border-top: 1px solid #ccc;
        padding: 1px 0;
        span{
            color: #a52a2a;
        }
    }
    // 索引
    sup{
        font-weight: 600;
        background-color: #ff981a;
        padding: 1px 3px;
        border-radius: 8px;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    hr{
        margin: 8px 0 15px 0;
    }
    // 无序列表, 有序列表
    ul, ol{
        margin: 0;
        padding: 0 0 0 17px;
        li{
            color: #424242;
            margin: 2px 0 3px 0;
            p{
                padding: 0;
                margin: 1px 0 0 0;
            }
            a{
                border-bottom: 1px solid #d4d4d4;
                padding: 1px 3px 2px 2px;
                text-decoration: none;
                color: $header-title-color;
                &:hover{
                    color: #7bccc4;
                    font-weight: 600;
                }
            }
            &:last-child{
                a{
                    border-bottom: none;
                }
            }
            code.highlighter-rouge{
                @extend %code;
            }
        }
    }
    // div 下的table样式
    & > table{
        border-collapse: collapse;   // 单元格间距
        thead{
            user-select: none;
            background: #f1f9ff;
            cursor: default;
        }
        tr{
            border: none;
            &:hover{
                background: #f1f9ff;
            }
        }
        th,td{
            border: 1px solid #c6cede;
            border-collapse: collapse;
            padding: 7px;
            margin: 0;
        }
        th{
            user-select: none;
            color: #333;
            font-weight: 600;
        }
        td{
            color: #666;
            user-select: all;
        }
    }
}
// 底部文章导航
.post-footer{
    display: inline-block;
    width: 100%;
    font-size: 28px;
    margin: 30px auto 20px auto;
    .post-nav{
        width: 180px;
        margin: 0 auto;
        div{
            background-color: #0868ac;;
            float: left;
            width: 50%;
            &:hover{
                background-color: #7bccc4;;
                a{
                    // color: #ff9800;
                    text-shadow: 0px 0px 2px #00BCD4;
                }
            }
        }
        a{
            color: #fff;
            text-decoration: none;
            margin: 0 3px;
        }
    }
    .page-previous{
        border-radius: 5px 0 0 5px;
    }
    .page-next{
        border-radius: 0 5px 5px 0;
        text-align: right;
    }
}
