// POST 页面样式
@charset "utf-8";

// 头部 (标题)
.post-header{
    user-select: none;
    cursor: default;
    display: block;
    margin-bottom: 38px;
    // 标题名
    h1{
        font-size: 32px;
        color: #099;
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
        margin: 0px;
        display: block;
        &:hover{
            color: #0086b3;
        }
    }
    // 时间
    .post-meta{
        float: right;
        display: block;
    }
    // 标签 (无序列表)
    ul{
        list-style: none;
        margin: 5px 1px;
        li{
            background-color: #37bed4;
            float: left;
            padding: 0px 5px;
            border-radius: 8px;
            font-size: 12px;
            margin-right: 5px;
            a{
                color: #fffdf3;
            }
            &:hover{
                background-color: #fffdf3;
                a{
                    color: #37bed4;
                }
            }
        }
    }
}
// 日志内容
.post-content{
    h1{
        font-size: 26px;
        font-weight: 600;
        color: #000;
        margin: 1px 0px;
        padding: 0px;
    }
    h2{
        font-size: 24px;
        font-weight: 500;
        color: #171717;
        margin: 1px 0px;
        padding: 0px;
    }
    h3{
        font-size: 22px;
        font-weight: 400;
        color: #272727;
        margin: 1px 0px;
        padding: 0px;
    }
    h4{
        font-size: 20px;
        font-weight: 400;
        color: #2b2b2b;
        margin: 0px;
        padding: 0px;
    }
    h5{
        font-size: 18px;
        font-weight: 400;
        color: #353535;
        margin: 0px;
        padding: 0px;
    }
    h6{
        font-size: 16px;
        font-weight: 400;
        color: #3c3c3c;
        margin: 0px;
        padding: 0px;
    }
    // 引用区块
    blockquote{
        font-family: 微软雅黑;
        background-color: rgba(228, 255, 253, 0.44);
        padding: 5px 10px;
        font-size: 16px;
        color: #998;
        p{
            margin: 1px 0px;
            font-size: 16px;
            user-select: text;
            font-style: normal;
            letter-spacing: normal;
        }
        // 标题
        h2{
            font-size: 20px;
            padding: 0px;
            margin: 2px 0px;
            font-style: normal;
            letter-spacing: normal;
            color: #290229;
        }
        // 滑过变色
        &:hover{
            // box-shadow: 1px 1px 0px 1px #a5d6bb;
            background: #e4fff0;
            blockquote{
                background-color: #dbdbff; // #eeeeff;
            }
        }
        // 二级引用
        blockquote{
            margin: 2px 0px;
            font-size: 16px;
            background-color: #e4fff0;
            // 文字内容
            p{
                font-size: 14px;
                color: #a00;
            }
        }
        // 列表
        ol,ul{
            margin: 5px 0px 5px 25px;
            li{
                color: #008080;
                border: none;
                a{
                    font-size: 14px;
                    font-style: normal;
                }
            }
        }
    }
    // 代码块样式
    .highlighter-rouge{
        // border: 1px solid #c8caff;
        // border-radius: 6px;
        margin: 5px 1px;
        .highlight{
            color: #290229;
            margin: 0;
            padding: 3px 6px;
            code{
                background: transparent;
                span.gu{
                    color: #5d5d5d;
                }
            }
        }
    }
    // 代码块样式 (+滑过变色)
    pre{
        border: 1px solid #c8caff;
        border-radius: 6px;
        &:hover{
            background: #dbdbff; //#dbdbff; #e4fff0
        }
    }
    // 文字内容
    p{
        margin-bottom: 5px;
        font-size: 16px;
        user-select:none;
        cursor: default;
        code{
            color: #4a008e;
            background: #fff0f0;
            border: 1px solid #fdd;
        }
        a{
            cursor: pointer;
            &:hover{
                color: #00bdbd;
            }
        }
        // 图片
        img{
            border: 1px solid #81e2ff;
            border-radius: 8px;
            margin: 4px 0px;

            &:hover{
                box-shadow: 1px 1px 0px 1px #65b8fb;
            }
        }
    }
    // 索引
    sup{
        font-weight: 600;
        background-color: #ff981a;
        padding: 0px 4px;
        border-radius: 8px;
        a{
            color: #fff;
        }
    }
    hr{
        margin: 15px 0 8px 0;
    }
    // 无序列表
    ul{
        li{
            color: #341452;
            border-bottom: 1px solid #d4d4d4;
            margin-bottom: 2px;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    // 有序列表
    ol{
        li{
            border-bottom: 1px solid #d4d4d4;
            margin-bottom: 2px;
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
// 底部文章导航
.post-nav{
    display: inline-block;
    width: 100%;
    font-size: 28px;
    div{
        a{
            color: #099;
            padding: 3px 5px;
            text-decoration: none;
            &:hover{
                background-color: #099;
                color: #fff;
                border-radius: 6px;
                box-shadow: 1px 1px 8px -1px #099;
            }
        }
    }
    .page-previous{
        float: left;
    }
    .page-next{
        float: right;
    }
}
