---
# main style
---
@charset "utf-8";

@import "minima";

@import "home";

@import "post";

@import "page";

// 字体 图标
@import "font-awesome/css/font-awesome.min.css";

// common
.hide{
    visibility: hidden;
    width: 0;
    height: 0;
}
// header
.site-header{
    user-select:none;
    .site-title, .page-link{
        cursor: pointer;
        &:hover{
            color: #099;
        }
    }
}

// footer
.footer-col-wrapper{
    float: right;
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
}
.footer-info{
    margin-right: 10px;
    float: right;
}
.footer-info-description{
    font-size: 16px;
    color: #f3d9d9;
    margin: 5px 0;
    cursor: default;
}
.footer-info-contact{
    float: right;
    float: right;
    font-size: 20px;
    a{
        color: #555;
    }
}
.footer-avatar{
    float: right;
    margin-right: 10px;
    img{
        border: 1px solid #ffcbcb;
        border-radius: 18px;
        width: 60px;
    }
}
