---
# main style
---
@charset "utf-8";

// 定义支持的浏览器
$supported-browsers: chrome,firefox,ie,opera,safari;
// 定义最低支持浏览器版本
$browser-minimum-versions:("ie":"8");

@import "home";

@import "post";

@import "page";

// 字体 图标
@import "font-awesome/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif,'Verdana', 'SimSun';
    background: #fffefa;
    min-width: 412px;   // 最小尺寸
}
// common
.hide{
    visibility: hidden;
    width: 0;
    height: 0;
}
// 头部
.navbar{
    position: fixed;
    width: 100%;
    display: block;
    height: 36px;
    background: #5f9ea0;
    margin: 0;
    // padding: 2px 20px 4px 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
    top: 0;
    left: 0;
    right: 0;
    .container-fluid{
        margin: 0 auto;
        padding: 0;
        width: 95%;
        max-width: 1280px;
        display: block;
    }
    a{
        color: #FFF;
        cursor: pointer;
        &:hover{
            color: #ff0000;
        }
    }
    .navbar-header{
        float: left;
        margin-top: 3px;
        a{
            font-size: 24px;
        }
    }
    .navbar-collapse{
        margin: 4px 40px 0 0;
        float: right;
        ul{
            float: right;
            list-style-type: none;
            padding: 0;
            margin: 4px 0 0 0;
            li{
                float: left;
                margin-left: 15px;
                .rss-link{
                    background: #fff;
                    color: #5f9ea0;
                    border-radius: 5px;
                    padding: 1px 4px;
                    text-decoration: none;
                    font-size: 10px;
                    &:hover{
                        color: #ff0000;
                    }
                }
            }
        }
    }
}
// article
.main-container{
    margin-top: 55px;
    .posts{
        margin: 0 auto;
        width: 70%;
        max-width: 990px;
        overflow: hidden;
    }
}
// footer
footer{
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
    clear: both;
    .site-footer{
        width: 70%;
        margin: 10px auto 0 auto;
        clear: both;
        display: block;
    }
    // 访客 图标
    .fonter-viewer-flags{
        float: left;
        margin: 10px 0 20px 0;
    }
    // 搜索
    .search{
        position: relative;
        bottom: 0;
        width: 50%;
        max-width: 700px;
        margin: 0 auto;
    }
    // 用户信息
    .footer-author-info{
        float: right;
        display: block;
        margin: 10px 0 20px 0;
        padding: 0;
        user-select: none;
        // 头像
        .footer-avatar{
            float: right;
            margin-right: 10px;
            img{
                border: 1px solid #ffcbcb;
                border-radius: 18px;
                width: 60px;
            }
        }
        // 信息
        .footer-info{
            margin-right: 10px;
            float: right;
            .footer-info-description{
                font-size: 16px;
                color: #f3d9d9;
                margin: 5px 0;
                cursor: default;
            }
            .footer-info-contact{
                float: right;
                float: right;
                font-size: 20px;
                a{
                    color: #5f9ea0;
                    font-weight: 700;
                    cursor: help;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .main-container{
        margin-top: 45px;
        .posts{
            width: 95%;
            padding: 0;
        }
    }
    footer{
        .search{
            width: 95%;
        }
    }
}
@media (max-width: 767px){
    // 头部
    .navbar{
        background: #1d9d74;
        box-shadow: 0px -1px 4px 4px #9e9e9c;
        .navbar-header{
            clear: both;
            text-align: center;
            margin-top: 3px;
            width: 100%;
        }
        .navbar-collapse{
            display: none;
        }
    }
    .main-container{
        margin-top: 45px;
        // 内容主体
        .posts{
            width: 100%;
            padding: 0;
            time{
                width: 40px;
            }
            .time-special {
                background: #1d9d74;
            }
        }
        // 主页
        section{
            // 文章标题
            .post-title{
                height: 31px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 10px 0;
            }
        }
        // 文章页
        article{
            border: 0;
            box-shadow: none;
            img{
                max-width: 94%;
            }
        }
    }
    footer{
        .search{
            width: 100%;
        }
    }
}
