---
# main style
---
@charset "utf-8";

// 定义支持的浏览器
$supported-browsers: chrome,firefox,ie,opera,safari;
// 定义最低支持浏览器版本
$browser-minimum-versions:("ie":"8");

@import "home";

@import "post";

@import "page";

// 字体 图标
@import "font-awesome/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei','Verdana', 'SimSun';
    background: #fffefa;
}
// common
.hide{
    visibility: hidden;
    width: 0;
    height: 0;
}
// 头部
.navbar{
    position: fixed;
    width: 100%;
    display: block;
    height: 33px;
    background: #5f9ea0;
    margin: 0;
    padding: 2px 20px 4px 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
    top: 0;
    left: 0;
    right: 0;
    a{
        color: #FFF;
    }
    .navbar-header{
        float: left;
        a{
            font-size: 24px;
        }
    }
    .navbar-collapse{
        margin: 8px 40px 0 0;
        ul{
            float: right;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                float: left;
                margin-left: 15px;
                .rss-link{
                    background: #fff;
                    color: #5f9ea0;
                    border-radius: 5px;
                    padding: 1px 4px;
                    text-decoration: none;
                    font-size: 10px;
                }
            }
        }
    }
    .navbar-toggle{
        display: none;
    }
}
// article
.main-container{
    margin-top: 55px;
    .posts{
        margin: 0 auto;
        width: 70%;
    }
}
// footer
footer{
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
    clear: both;
    .site-footer{
        width: 70%;
        margin: 20px auto 0 auto;
    }
    // 访客 图标
    .fonter-viewer-flags{
        float: left;
        margin: 10px 0 20px 0;
    }
    // 用户信息
    .footer-author-info{
        float: right;
        display: block;
        margin: 10px 0 20px 0;
        padding: 0;
        user-select: none;
        // 头像
        .footer-avatar{
            float: right;
            margin-right: 10px;
            img{
                border: 1px solid #ffcbcb;
                border-radius: 18px;
                width: 60px;
            }
        }
        // 信息
        .footer-info{
            margin-right: 10px;
            float: right;
            .footer-info-description{
                font-size: 16px;
                color: #f3d9d9;
                margin: 5px 0;
                cursor: default;
            }
            .footer-info-contact{
                float: right;
                float: right;
                font-size: 20px;
                a{
                    color: #5f9ea0;
                    font-weight: 700;
                    cursor: help;
                }
            }
        }
    }
}
