---
layout: default
title: "首页"
---
{% for post in paginator.posts %}
<section class="posts" itemscope itemtype="http://schema.org/BlogPosting">
    <!-- <div class="post-bg">
        <div class="post-image">
            <img src="{{ site.url }}/assets/images/{{ post.date | date: '%Y%m' }}/{{ post.date | date: '%d' }}-01.png" alt="{{ post.title }}">
        </div>
    </div> -->
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" {% if post.image == true %}class= "time-special"{% endif %}>
        <span class="time-day">{{ post.date | date: "%-d" }}</span>
        <span class="time-month">{{ post.date | date: "%b" }}</span>
    </time>
    <header class="post-header">
        <a class="permalink" href="{{ site.url }}{{ post.url }}">
          <h2 class="post-title" itemprop="name headline">{{ post.title | escape }}</h2>
        </a>
    </header>
</section>
{% endfor %}
{% include pagination.html %}
