---
layout: default
title: "首页"
---
{% for post in paginator.posts %}
<section class="posts" itemscope itemtype="http://schema.org/BlogPosting">
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" {% if post.image == true %}class= "time-special"{% endif %}>
        <span class="time-day">{{ post.date | date: "%-d" }}</span>
        <span class="time-month">{{ post.date | date: "%b" }}</span>
    </time>
    <header class="post-header">
        <a class="permalink" href="{{ site.url }}{{ post.url }}">
          <h2 class="post-title" itemprop="name headline">{{ post.title | escape }}</h2>
        </a>
    </header>
</section>
{% endfor %}
{% include pagination.html %}
