---
layout: default
---
<article class="posts" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%m/%d, %Y | %a" }}</time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </p>
        <ul>
            {% for tag in page.tags %}
                {% if tag != "" %}
                <li><a href="{{ site.tag_url }}#{{ tag | slugify }}"> {{ tag }} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    {% if page.modified %}
    <span class="posts-modified">
      <i>{{ page.modified }}</i>
    </span>
    {% endif %}
    <div class="post-footer">
        <div class="post-nav">
            {% if page.previous != nil %}
            <div class="page-previous"><a href="{{ page.previous.id }}.html">&lt;Prev</a></div>
            {% else %}
            <div class="page-previous"><a href="#">&lt;Prev</a></div>
            {% endif %}
            {% if page.next != nil %}
            <div class="page-next"><a href="{{ page.next.id }}.html">Next&gt;</a></div>
            {% else %}
            <div class="page-next"><a href="#">Next&gt;</a></div>
            {% endif %}
        </div>
    </div>
</article>
