---
layout: default
stylesheet: /assets/js/highlight.js/atom-one-dark.css
---
<article class="posts" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.image == true %}
    <div class="post-bg">
        <div class="post-image">
            <img src="{{ site.url }}/assets/images/{{ page.date | date: '%Y%m' }}/{{ page.date | date: '%d' }}-01.png" alt="{{ page.title }}">
        </div>
    </div>
    {% endif %}
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%m/%d %Y | %a" }}</time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </p>
        <ul>
            {% for tag in page.tags %}
                {% if tag != "" %}
                <li><a href="{{ site.tag_url }}#{{ tag | slugify }}"> {{ tag }} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
      {% if page.modified %}
      <div class="posts-modified">
          最后编辑于<span>{{ page.modified | date: "%F %R" }}</span>
      </div>
      {% endif %}
    </div>
    <div class="post-footer">
        <div class="post-nav">
            {% if page.previous != nil %}
            <div class="page-previous"><a href="{{ page.previous.id }}.html" title="上一页">&lt;Prev</a></div>
            {% else %}
            <div class="page-previous"><a href="#">&lt;Prev</a></div>
            {% endif %}
            {% if page.next != nil %}
            <div class="page-next"><a href="{{ page.next.id }}.html" title="下一页">Next&gt;</a></div>
            {% else %}
            <div class="page-next"><a href="#">Next&gt;</a></div>
            {% endif %}
        </div>
    </div>
</article>
<script type="text/javascript" src="/assets/js/highlight.js/highlight.min.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
